<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Learning App</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a
        >
      </li>
      <li class="nav-item" (click)="logout()">
        <a class="nav-link">Logout</a
        >
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown">
      <a class="btn btn-secondary">
        Welcome User
      </a>

      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"
          ><i class="fa fa-user"></i> Edit Profile</a
        >
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#"
          ><i class="fa fa-sign-out"></i> Logout</a
        >
      </div>
    </div>

    <form *ngIf="!loggedIn()"
      #loginForm="ngForm"
      class="form-inline my-2 my-lg-0"
      (ngSubmit)="login()"
    >
      <input
        class="form-control mr-sm-2"
        type="text"
        name="username"
        [(ngModel)]="model.username"
        required
        placeholder="Username"
      />
      <input
        class="form-control mr-sm-2"
        type="password"
        name="password"
        [(ngModel)]="model.password"
        required
        placeholder="Password"
      />
      <button
        [disabled]="!loginForm.valid"
        class="btn btn-outline-success my-2 my-sm-0"
        type="submit"
      >
        Login
      </button>
    </form>
  </div>
</nav>
